.Wrapper {
  background: #005e90;
  color: white;
  padding: 3.75rem 0.625rem;
  font-family: Arial;
}

.title {
  font-size: 1.125rem;
  margin: 0;
  margin-bottom: 1rem;
}

.list {
  list-style: none;
  color: white;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.image {
  width: 65%;
  margin-top: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo > img {
  display: block;
  height: auto;
  max-width: 80%;
}

.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40%;
  transform: rotate(0deg);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5%;
}

.arrow--right {
  left: auto;
  right: 5%;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

.slider {
  background: #333;
  padding: 1.875rem 0;
}
